# 변수

12

In [3]:
12340 * 1/2

6170.0

In [1]:
abc=12340

In [3]:
print(abc)

12340

# 문자열

In [5]:
print("string test")

string test

In [7]:
string1= "string test 1"
string2= "string test 2"

In [9]:
print(string1)
print(string2)

string test 1
string test 2

In [14]:
print(type(string1))
print(type(string2))

<class 'str'>
<class 'str'>

In [17]:
string3='this is a "double" quatation test'
string4="this is a 'double' quatation test"
print(string3)
print(string4)

this is a "double" quatation test
this is a 'double' quatation test

long_string ='''[삼중 닥은 따옴표를 사용한 예]
파이썬에는 삼중 따옴표로 여러 행의 문자열을 입력할 수 있습니다.
큰 따옴표 (")와 작은 따옴표(')를 사용 할 수 있습니다
'''
long_string1 ="""[삼중 닥은 따옴표를 사용한 예]
파이썬에는 삼중 따옴표로 여러 행의 문자열을 입력할 수 있습니다.
큰 따옴표 (")와 작은 따옴표(')를 사용 할 수 있습니다
"""

print(long_string)
print(long_string1)

In [24]:
long_string ='''[삼중 닥은 따옴표를 사용한 예] 파이썬에는 삼중 따옴표로 여러 행의 문자열을 입력할 수 있습니다.
큰 따옴표 (")와 작은 따옴표(')를 사용 할 수 있습니다 ''' 
long_string1 ="""[삼중 닥은 따옴표를 사용한 예] 파이썬에는 삼중 따옴표로 여러 행의 문자열을 입력할 수 있습니다.
큰 따옴표 (")와 작은 따옴표(')를 사용 할 수 있습니다 """
print(long_string) 
print(long_string1)

[삼중 닥은 따옴표를 사용한 예] 파이썬에는 삼중 따옴표로 여러 행의 문자열을 입력할 수 있습니다.
큰 따옴표 (")와 작은 따옴표(')를 사용 할 수 있습니다
[삼중 닥은 따옴표를 사용한 예] 파이썬에는 삼중 따옴표로 여러 행의 문자열을 입력할 수 있습니다.
큰 따옴표 (")와 작은 따옴표(')를 사용 할 수 있습니다

# 문자열 다루기

In [25]:
a='enjoy'
b='python!'
c= a+b
print(c)

enjoypython!

# 리스트

In [26]:
#리스트 만들기 [], 튜플(), 딕셔너리{key:value}

student1=[1,2,3,4,]
type(student1)

list

In [28]:
print(student1)

[1, 2, 3, 4]

In [30]:
print(student1[0])

1

In [31]:
print(student1[-1])

4

In [33]:
print(student1[-2])

3

In [35]:
mixedList=[0,20,3,'as', 'sd', True, student1]
print(mixedList)

[0, 20, 3, 'as', 'sd', True, [1, 2, 3, 4]]

In [36]:
list_con1=[1,2,3,4]
list_con2=[5,6,7,8]
list_con=list_con1+list_con2
print(list_con)

[1, 2, 3, 4, 5, 6, 7, 8]

In [38]:
list_con= list_con1*3
print(list_con)

[1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4]

In [44]:
list_data = [0,13,24,35,46,57,68,79,8,9]
print(list_data)
print(list_data[0:3])
print(list_data[4:8])
print(list_data[:3])
print(list_data[3:])
print(list_data[::3])

[0, 13, 24, 35, 46, 57, 68, 79, 8, 9]
[0, 13, 24]
[46, 57, 68, 79]
[0, 13, 24]
[35, 46, 57, 68, 79, 8, 9]
[0, 35, 68, 9]

In [46]:
del list_data[3]
print(list_data)

[0, 13, 24, 57, 68, 79, 8, 9]

In [49]:
list_data1=[1,2,3,4,5]
print(5 in list_data1)
print(6 in list_data1)

True
False

In [53]:
myfriends=['a', 'b', 'c', 'd']
myfriends.append('e')
print(myfriends)

['a', 'b', 'c', 'd', 'e']

In [56]:
myfriends.insert(0, 'e')
print(myfriends)

['e', 'e', 'a', 'e', 'b', 'c', 'd', 'e']

# 튜플

# set

In [58]:
set1={1,2,3}
set1a={1,2,3,4}
print(set1)
print(set1a)

{1, 2, 3}
{1, 2, 3, 4}

# 딕셔너리

In [62]:
dict_data1={1:"bus", 2:"taxi", "삼번":"plane"}
dict_data1["삼번"]

'plane'

# 1번

In [ ]:
pin='881120-1068234'
yyyymmdd=
num=
print()
print()